{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/katalog.css') }}">
{% endblock %}

{% block content %}
    <section class="catalog">
        <h1>Katalog Komponen Komputer</h1>
        <div class="catalog-items">
            {% for item in items %}
                <div class="catalog-item">
                    <img src="{{ asset('images/' ~ item.tipe | lower ~ '.jpg') }}" alt="{{ item.tipe }}">
                    <h2>{{ item.tipe }}</h2>
                    <p>{{ item.name }}</p>
                    <div class="price">{{ item.harga }}</div>
                    <a href="{{ path('paket_page') }}" class="buy-button">Beli Sekarang</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}